@mixin img-cover() {
  height: 80vh;
  min-height: 250px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin banner-h1 {
  font-weight: 700;
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
}

@mixin white-borders {
  border-top: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
}
