$font-family-base: "Raleway", Helvetica, Arial, sans-serif;

$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-dark-toggler-border-color: rgba(40, 40, 40, 1);

$nav-pills-border-radius: 0;
$nav-pills-link-active-color: #FFF;
$nav-pills-link-active-bg: transparent;

$input-bg: #222 !default;
$input-color: #FFF !default;
$input-group-addon-bg: #222;
$input-focus-border-color: #FFF !default;
$input-border-color: #282828 !default;
$input-border-radius: 0px !default;

$btn-border-radius: 0px !default;
